[kafka]
host = kafka-xxxxx-xxxx.aivencloud.com
port = 12697
ca_file = kafka-ca
cert_file= kafka-cert
key_file = kafka-key

[pg]
host = pg-xxxxx-xxxx.aivencloud.com
port = 12695
user = avnadmin
password = xxxxxxxxxxxxxxxx
ca_file = pg-ca
database = defaultdb

